<div
  class="px-6 md:px-12 lg:px-[252px] h-[600px] md:h-auto lg:h-[620px] overflow-y-scroll py-8 md:py-14 lg:py-[72px]"
>
  <a
    routerLink="/view/:invoice_id"
    class="inline-flex items-center gap-3 cursor-pointer"
  >
    <div><img src="assets/icon-arrow-left.svg" alt="icon-left" /></div>
    <div class="pt-3">
      <p class="text-body1 font-bold dark:text-white">Go back</p>
    </div>
  </a>

  <!-- form for creating invoice -->
  <div>
    <div>
      <p class="text-2xl font-bold dark:text-white">
        Edit <span class="text-accent-muted">#</span>XM9141
      </p>
    </div>
    <div>
      <p class="text-body1 font-bold text-primary">Bill From</p>
    </div>
    <div>
      <app-text-field [text]="'Street Address'"></app-text-field>
    </div>

    <div class="flex justify-between items-center mt-6">
      <div class="w-[48%]">
        <app-text-field [text]="'City'"></app-text-field>
      </div>
      <div class="w-[48%]">
        <app-text-field [text]="'Post Code'"></app-text-field>
      </div>
    </div>
    <div class="mt-6">
      <app-text-field [text]="'Country'"></app-text-field>
    </div>

    <div class="mt-10">
      <p class="text-body1 font-bold text-primary">Bill From</p>
    </div>

    <div class="mt-6">
      <app-text-field [text]="'Client\’s Name'"></app-text-field>
    </div>

    <div class="mt-6">
      <app-text-field [text]="'Client’s Email'"></app-text-field>
    </div>

    <div class="mt-6">
      <app-text-field [text]="'Street Address'"></app-text-field>
    </div>

    <div class="flex justify-between items-center mt-6">
      <div class="w-[48%]">
        <app-text-field [text]="'City'"></app-text-field>
      </div>
      <div class="w-[48%]">
        <app-text-field [text]="'Post Code'"></app-text-field>
      </div>
    </div>

    <div class="mt-6">
      <app-text-field [text]="'Country'"></app-text-field>
    </div>

    <div class="mt-6">
      <app-issue-date></app-issue-date>
    </div>

    <div class="mt-6">
      <app-dropdown></app-dropdown>
    </div>

    <div class="mt-6">
      <app-text-field [text]="'Project Description'"></app-text-field>
    </div>

    <div class="mt-[66px]">
      <p class="text-[18px] font-bold leading-8 text-itemList">Item List</p>
    </div>

    <div class="mt-6">
      <app-text-field [text]="'Item Name'"></app-text-field>
    </div>

    <div class="mt-6 w-full flex justify-between items-end">
      <div class="w-[18%]">
        <div class="mt-6">
          <app-text-field [text]="'Qty.'"></app-text-field>
        </div>
      </div>
      <div class="w-[28%]">
        <div class="mt-6">
          <app-text-field [text]="'Price'"></app-text-field>
        </div>
      </div>
      <div class="w-[28%] flex flex-col justify-start gap-5 h-[85px]">
        <p class="text-body1 dark:text-accent-light text-accent-medium">
          Total
        </p>
        <p
          class="text-body1 dark:text-accent-light text-accent-muted !font-bold"
        >
          400.00
        </p>
      </div>
      <div class="w-[18%] h-[50px] flex justify-end pr-1 cursor-pointer">
        <img
          class="w-[16px] h-[20px]"
          src="assets/icon-delete.svg"
          alt="icon-delete"
        />
      </div>
    </div>

    <div class="mt-6">
      <app-button6></app-button6>
    </div>
  </div>
</div>
<!-- header of invoice down for mobile -->
<div
  class="flex items-center justify-end gap-3 md:hidden bg-white dark:bg-secondary-dark fixed bottom-0 w-[100%] py-[22px] px-6"
>
  <a routerLink="/view/:id">
    <app-button3 [text]="'Cancel'"></app-button3>
  </a>
  <app-button2 [text]="'Save Changes'"></app-button2>
</div>
