<div>
  <div class="flex justify-between items-center">
    <p class="text-body1 dark:text-accent-light text-accent-medium">
      {{ text }}
    </p>
    <p *ngIf="!isValid" class="text-danger text-[10px] font-semibold">
      can’t be empty
    </p>
  </div>
  <div
    class="w-full dark:bg-button3-dark py-[5px] px-5 border rounded-[4px]"
    [ngClass]="{
      'border-primary-light': isTyping && isValid,
      'border-accent-light dark:border-none': !isTyping && isValid,
      'border-danger': !isValid
    }"
  >
    <input
      class="w-full bg-transparent text-body1 !font-bold border-none outline-none dark:text-white"
      type="text"
      [formControl]="control"
      (focus)="toggleIsActive()"
      (blur)="toggleIsActive()"
      (input)="onInput($event)"
    />
  </div>
</div>
