.the-shaddow {
    -webkit-box-shadow: 2px 7px 20px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 7px 20px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 7px 20px 1px rgba(0, 0, 0, 0.75);
  }
  

  