<div class="w-full relative">
  <div>
    <p class="text-body1 dark:text-accent-light text-accent-medium">
      Payment Terms
    </p>
  </div>
  <div
    class="dark:bg-button3-dark py-[10px] pl-5 pr-[15px] border rounded-[4px] flex justify-between items-center cursor-pointer"
    [ngClass]="{
      'border-primary-light': isDroping,
      'border-accent-light dark:border-secondary-dark': !isDroping
    }"
    (click)="toggleDroping()"
  >
    <div>
      <p class="text-body1 !font-bold dark:text-white pt-2">
        {{ getSelectedLabel() }}
      </p>
    </div>
    <div>
      <img src="assets/icon-arrow-down.svg" class="w-[10px] h-[5px]" />
    </div>
  </div>

  <!-- Hidden input to store the selected payment term -->
  <input
    type="text"
    [formControl]="control"
    style="visibility: hidden"
  />
  <div
    class="the-shaddow w-full lg:w-[88%] rounded-lg bg-accent-light dark:bg-transparent mt-2 flex flex-col gap-[1px] absolute"
    [ngClass]="{ hidden: !isDroping }"
  >
    <div
      *ngFor="let term of paymentTerms"
      class="h-[46px] bg-white dark:bg-button3-dark py-[17px] pl-6 flex justify-between items-center cursor-pointer"
      [ngClass]="{
        'rounded-t-lg': term.value === 1,
        'rounded-b-lg': term.value === 30
      }"
      (click)="selectPaymentTerm(term.value)"
    >
      <p class="text-body1 !font-bold dark:text-white">{{ term.label }}</p>
    </div>
  </div>
</div>
